body {
    font-family: sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid rgb(58, 34, 145);
    padding-bottom:5px;
}

header img {
    padding: 10px;
}

header b {
    color:rgb(27, 0, 122);

}
header a {
   text-decoration:none;
   color:white;
   background-color: rgb(27, 0, 122);
   border-radius: 5px; 
   padding:5px;
   
}

.Party {
    text-align: center;
    background-color: lightblue;
    color:darkblue;
    border-radius: 5px;
    font-family: 'Courier New';
}

footer p {
    border:2px solid grey;
    padding:5px
}


.color {
    background-color: lightcoral;
    border-radius: 7px;
    color:white;
    padding: 5px;
}

.selection {
    background-color: rgb(255, 154, 154);
    padding: 10px;
    font-size: 20px;
    border-radius:10px ;
}
select option {
    background-color: rgb(255, 206, 206);
}

.text {
    font-size: 20px;
}

nav {
    text-align: center;
    background-color: gray;
    padding:3px;
    margin:10px;
}

.hi {
    text-decoration: none;
    color:white;
    border:2px solid black;
}
